* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 70px;
}

.trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

/* #evaluation-form div {
  flex-direction: row;
} */
.row {
  flex-direction: row;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family {
  display: flex;
  flex-direction: column;
}

#label-family {
  background-color: blue;
}
